DATABASE_HOST= 
DATABASE_NAME= 
DATABASE_USER= 
DATABASE_PASS= 
JWT_SECRET=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
APP_URL=
JWT_EXPIRY=86400

# Email configuration for sending notifications (e.g., ticket purchase confirmations)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@eventticketing.com
MAIL_FROM_NAME=Event Ticketing