DATABASE_HOST= 
DATABASE_NAME= 
DATABASE_USER= 
DATABASE_PASS= 
JWT_SECRET=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
APP_URL=
JWT_EXPIRY=86400

# Email configuration for sending notifications (e.g., ticket purchase confirmations)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@eventticketing.com
MAIL_FROM_NAME=Event Ticketing

# for production variables
APP_ENV=production
APP_URL=https://your-railway-domain.up.railway.app
DATABASE_HOST=your-railway-mysql-host
DATABASE_NAME=ticketer_db
DATABASE_USER=root
DATABASE_PASS=your-railway-db-password
JWT_SECRET=your-long-secret
PAYSTACK_SECRET_KEY=sk_live_xxxx
PAYSTACK_PUBLIC_KEY=pk_live_xxxx
CHROMIUM_PATH=/usr/bin/chromium
NODE_PATH=/usr/bin/node
NPM_PATH=/usr/bin/npm
MAIL_FROM_ADDRESS=no-reply@ticketer.ng
MAIL_FROM_NAME=Ticketer