@import "tailwindcss";

@theme {
  --color-primary: #0f172a;

  /* backgrounds */
  --color-success: #22c55e;
  --color-error: #ef4444;

  --font-fractul: 'Fractul', sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  /* PDF specific */
  --color-pdf-bg: #e8eaf2;
  --color-pdf-hero: #eef0f7;
  --color-pdf-text: #1a1f36;
  --color-pdf-muted: #8c93a8;
  --color-pdf-perf: #cdd0db;
}

@layer base {
  *::before,
  *::after,
  * {
    @apply box-border p-0 m-0;
    font-family: var(--font-fractul);
    -webkit-tap-highlight-color: transparent;
  }
}